<div class="shipping-info-by-fireapps-wrap" style="display: none;">
                        <div class="shipping-info-by-fireapps" id="shipping-info-by-fireapps-{{product.id}}"></div>
                        <script type="text/javascript">
                            function loadScript(url, callback){
                                var script = document.createElement("script")
                                script.type = "text/javascript";
                                if (script.readyState){
                                    script.onreadystatechange = function(){
                                        if (script.readyState == "loaded" ||
                                                script.readyState == "complete"){
                                            script.onreadystatechange = null;
                                            callback();
                                        }
                                    };
                                } else {
                                    script.onload = function(){
                                        callback();
                                    };
                                }
                                script.src = url;
                                document.getElementsByTagName("head")[0].appendChild(script);
                            }
                            
                            var shippingView = function($) {
                                $.ajax({
                                    url: "https://salesbox.fireapps.io/iframe/shipping.json?productId={{product.id}}&shopDomain={{shop.domain}}",
                                    dataType: "json",
                                    success : function(data) {
                                        var contentHtml = $("#shipping-info-by-fireapps-{{product.id}}").append( data.html );
                                        $("form").each(function () {
                                            var action = $(this).attr("action");
                                            var _this = $(this);
                                            if (action === "/cart/add" || action === "/cart/add/") {
                                                _this.append( contentHtml );
                                                return false;
                                            } else {
                                                $(".shipping-info-by-fireapps-wrap").css("display", "block");
                                            }
                                        });
                                    }
                                });
                            }
                            
                            if ((typeof jQuery === "undefined") || (parseFloat(jQuery.fn.jquery) < 1.7)) {
                                loadScript("https://salesbox.fireapps.io/libs/jquery-3.1.1.min.js", function(){
                                    jQuery191 = jQuery.noConflict(true);
                                    shippingView(jQuery191);
                                });
                            } else {
                                shippingView(jQuery);
                            }
                        </script>
                        </div>