@font-face {
      font-family: "ProximaNova-Regular";
      src: url(//www.indigo-uk.com/cdn/shop/t/81/assets/ProximaNova-Regular.woff2?v=50597261239147135971715004289) format("woff2");
}
@font-face {
    font-family: "Proxima Nova Bold";
    src: url(//www.indigo-uk.com/cdn/shop/t/81/assets/Proxima_Nova_Bold.woff2?v=34226711522496437831715004503) format("woff2");
}